html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#96ccee, #3d667b, black);
}

.titulo{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 5px double #3d667b;
    box-sizing: border-box;
    margin: auto;
    max-width: 50%;
}

.imagen {
    height: 20%;
    width: 20%;
    border-radius: 0 30% 0 30%;
    margin: 50px;
}